AWSTemplateFormatVersion: "2010-09-09"

Description: Intake API

Parameters:
  ApplicationImageId:
    Type: String
    Description: Application Amazon Machine Image ID
  ApplicationInstanceType:
    Type: String
    Description: Application EC2 Instance Type
  ApplicationDesiredCount:
    Type: Number
    Description: Application AutoScaling Group Desired Count
    Default: 1
  ApplicationDockerImage:
    Type: String
    Description: Docker Image for Application
  ApplicationDockerImageTag:
    Type: String
    Description: Docker Image Tag for Application
    Default: latest
  ApplicationKeyName:
    Type: String
    Description: EC2 Key Pair for Application SSH Access
  ApplicationFrontEndPort:
    Type: Number
    Description: Application Front End HTTP Port
  ApplicationFrontEndCertificateArn:
    Type: String
    Description: Name of CloudFormation export with Application Load Balancer certificate ARN
  ApplicationPort:
    Type: Number
    Description: Application HTTP Port
  ApplicationHostname:
    Type: String
    Description: Host portion of the application URL
  ApplicationDomain:
    Type: String
    Description: Base public domain of the application URL
  ApplicationSecretKey:
    Type: String
    Description: KMS Encrypted Secret Key Base
  ElasticsearchImageId:
    Type: String
    Description: Elasticsearch Amazon Machine Image ID
  ElasticsearchInstanceType:
    Type: String
    Description: Elasticsearch EC2 Instance Type
  ElasticsearchDesiredCount:
    Type: Number
    Description: Elasticsearch AutoScaling Group Desired Count
  ElasticsearchDockerImage:
    Type: String
    Description: Docker Image for Elasticsearch
  ElasticsearchDockerImageTag:
    Type: String
    Description: Docker Image Tag for Elasticsearch
    Default: latest
  ElasticsearchKeyName:
    Type: String
    Description: EC2 Key Pair for Elasticsearch SSH Access
  ElasticsearchPort:
    Type: Number
    Description: Elasticsearch Port
  ElasticsearchHostname:
    Type: String
    Description: Host portion of the Elasticsearch URL
  LogRetention:
    Type: Number
    Description: Log retention in days
  NginxDockerImage:
    Type: String
    Description: Docker Image for Nginx
  NginxDockerImageTag:
    Type: String
    Description: Docker Image Tag for Nginx
    Default: latest
  DbStorage:
    Type: Number
    Description: Database Allocated Storage
  DbInstanceType:
    Type: String
    Description: Database Instance Type
  DbName:
    Type: String
    Description: Database Name
  DbHostname:
    Type: String
    Description: Host name portion of friendly database FQDN
  DbUsername:
    Type: String
    Description: Database Username
  DbPassword:
    Type: String
    NoEcho: "True"
    Description: Encrypted Database Password
  DbMultiAz:
    Type: String
    Description: Enable/disable database multi AZ operation
    Default: "False"
    AllowedValues:
      - "True"
      - "False"
  KMSDecrypterVersion:
    Type: String
    Description: S3 Object Version of CloudFormation KMS Decrypt function
    Default: latest
  EcsTasksVersion:
    Type: String
    Description: S3 Object Version of CloudFormation ECS Tasks function
    Default: latest

Conditions:
  ApplicationSingleInstanceCondition:
    Fn::Equals:
      - Ref: ApplicationDesiredCount
      - 1
  ElasticsearchSingleInstanceCondition:
    Fn::Equals:
      - Ref: ElasticsearchDesiredCount
      - 1

Resources:
  # Intake API resources
  ApplicationFrontEnd:
    Type: Stack::Transform
    Template: alb.yml.j2
    Properties:
      Name: ApplicationFrontEnd
      AllowedCidr: 0.0.0.0/0
      Certificate:
        Fn::ImportValue: 
          Ref: ApplicationFrontEndCertificateArn
      ConnectionDrainTimeout: 60
      DnsHostname:
        Ref: ApplicationHostname
      DnsDomain:
        Ref: ApplicationDomain
      HttpsPort:
        Ref: ApplicationFrontEndPort
      Scheme: internet-facing
      Subnets: Public
      TargetGroupPort:
        Ref: ApplicationPort
      TargetGroupHealthCheck: /api/v1/screenings
      TargetSecurityGroup:
        Fn::Sub: ${ApplicationCluster.SecurityGroup}
  ApplicationCluster:
    Type: Stack::Transform
    Template: asg.yml.j2
    Properties:
      Name: ApplicationCluster
      DesiredCount:
        Ref: ApplicationDesiredCount
      ImageId:
        Ref: ApplicationImageId
      InstanceType:
        Ref: ApplicationInstanceType
      KeyName:
        Ref: ApplicationKeyName
      Subnets: Medium
      ProxyUrl:
        Fn::ImportValue: DefaultProxyURL
      VpcName: Default
  ApplicationToElasticsearchFrontEndIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      IpProtocol: tcp
      FromPort:
        Ref: ElasticsearchPort
      ToPort:
        Ref: ElasticsearchPort
      GroupId:
        Fn::Sub: ${ElasticsearchFrontEnd.SecurityGroup}
      SourceSecurityGroupId:
        Fn::Sub: ${ApplicationCluster.SecurityGroup}  
  ApplicationToElasticsearchFrontEndEgress:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      IpProtocol: tcp
      FromPort:
        Ref: ElasticsearchPort
      ToPort:
        Ref: ElasticsearchPort
      GroupId:
        Fn::Sub: ${ApplicationCluster.SecurityGroup}
      DestinationSecurityGroupId:
        Fn::Sub: ${ElasticsearchFrontEnd.SecurityGroup}

  # Elasticsearch resources
  ElasticsearchFrontEnd:
    Type: Stack::Transform
    Template: alb.yml.j2
    Properties:
      Name: ElasticsearchFrontEnd
      ConnectionDrainTimeout: 60
      DnsHostname:
        Ref: ElasticsearchHostname
      DnsDomain:
        Fn::ImportValue: DefaultVpcDomain
      HttpPort:
        Ref: ElasticsearchPort
      Scheme: internal
      Subnets: High
      TargetGroupPort:
        Ref: ElasticsearchPort
      TargetSecurityGroup:
        Fn::Sub: ${ElasticsearchCluster.SecurityGroup}
  ElasticsearchCluster:
    Type: Stack::Transform
    Template: asg.yml.j2
    Properties:
      Name: ElasticsearchCluster
      DesiredCount:
        Ref: ElasticsearchDesiredCount
      ImageId:
        Ref: ElasticsearchImageId
      InstanceType:
        Ref: ElasticsearchInstanceType
      KeyName:
        Ref: ElasticsearchKeyName
      Subnets: High
      ProxyUrl:
        Fn::ImportValue: DefaultProxyURL
      VpcName: Default

  # RDS resources
  ApplicationDatabase:
    Type: Stack::Transform
    Template: rds.yml.j2
    Properties:
      Name: ApplicationDatabase
      InstanceType:
        Ref: DbInstanceType
      DnsHostname:
        Ref: DbHostname
      DnsDomain:
        Ref: ApplicationDomain
      Engine: postgres
      EngineVersion: 9.5
      IngressSecurityGroup:
        Fn::Sub: ${ApplicationCluster.SecurityGroup}
      MasterUsername:
        Ref: DbUsername
      MasterPassword:
        Fn::Sub: ${DbPasswordDecrypt.Plaintext}
      MultiAz:
        Ref: DbMultiAz

  # Intake API ECS resources
  ApplicationTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      NetworkMode: host
      Volumes:
        - Name: webroot
      ContainerDefinitions:
      - Name: intake-api
        Image:
          Fn::Sub: ${ApplicationDockerImage}:${ApplicationDockerImageTag}
        MemoryReservation: 500
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: 
              Fn::Sub: ${AWS::StackName}/ecs/IntakeApiService/intake-api
            awslogs-region:
              Ref: AWS::Region
            awslogs-stream-prefix: docker
        Environment:
          - Name: RAILS_ENV
            Value: production
          - Name: PG_HOST
            Value:
              Fn::Sub: ${ApplicationDatabase.EndPoint}
          - Name: DATABASE_NAME
            Value:
              Ref: DbName
          - Name: PG_USER
            Value:
              Ref: DbUsername
          - Name: KMS_PG_PASSWORD
            Value:
              Ref: DbPassword
          - Name: KMS_SECRET_KEY_BASE
            Value:
              Ref: ApplicationSecretKey
          - Name: ELASTICSEARCH_URL
            Value:
              Fn::Join:
                - ""
                - - Fn::Sub: http://${ElasticsearchHostname}.
                  - Fn::ImportValue: DefaultVpcDomain
                  - Fn::Sub: :${ElasticsearchPort}
          - Name: AWS_DEFAULT_REGION
            Value:
              Ref: AWS::Region
          - Name: http_proxy
            Value:
              Fn::ImportValue: DefaultProxyURL
          - Name: https_proxy
            Value:
              Fn::ImportValue: DefaultProxyURL
          - Name: no_proxy
            Value:
              Fn::Join:
                - ""
                - - Fn::Sub: 169.254.169.254,${ElasticsearchHostname}.
                  - Fn::ImportValue: DefaultVpcDomain
          - Name: CLEAR_PROXY
            Value: "true"
        MountPoints:
          - SourceVolume: webroot
            ContainerPath: /tmp
        Command:
          - bundle
          - exec
          - puma
          - -v
          - -e
          - production
          - -b
          - unix:///tmp/app.sock
          - -C
          - config/puma.rb
      - Name: nginx
        Image:
          Fn::Sub: ${NginxDockerImage}:${NginxDockerImageTag}
        MemoryReservation: 200
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: 
              Fn::Sub: ${AWS::StackName}/ecs/IntakeApiService/nginx
            awslogs-region:
              Ref: AWS::Region
            awslogs-stream-prefix: docker
        PortMappings:
        - ContainerPort:
            Ref: ApplicationPort
          Protocol: tcp
        Environment:
          - Name: HTTP_PORT 
            Value:
              Ref: ApplicationPort
          - Name: WEB_ROOT
            Value: /intake_api_prototype/public
          - Name: UPSTREAM_URL
            Value: unix:///tmp/app.sock
          - Name: HEALTHCHECK
            Value: 
              Fn::Sub: curl -fs localhost:${ApplicationPort}/api/v1/screenings
        MountPoints:
          - SourceVolume: webroot
            ContainerPath: /tmp
        VolumesFrom:
          - SourceContainer: intake-api
            ReadOnly: "true"
  AdhocTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      NetworkMode: host
      ContainerDefinitions:
      - Name: intake-api
        Image:
          Fn::Sub: ${ApplicationDockerImage}:${ApplicationDockerImageTag}
        MemoryReservation: 100
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: 
              Fn::Sub: ${AWS::StackName}/ecs/IntakeApiService/adhoc
            awslogs-region:
              Ref: AWS::Region
            awslogs-stream-prefix: docker
        Environment:
          - Name: RAILS_ENV
            Value: production
          - Name: PG_HOST
            Value:
              Fn::Sub: ${ApplicationDatabase.EndPoint}
          - Name: DATABASE_NAME
            Value:
              Ref: DbName
          - Name: PG_USER
            Value:
              Ref: DbUsername
          - Name: KMS_PG_PASSWORD
            Value:
              Ref: DbPassword
          - Name: ELASTICSEARCH_URL
            Value:
              Fn::Join:
                - ""
                - - Fn::Sub: http://${ElasticsearchHostname}.
                  - Fn::ImportValue: DefaultVpcDomain
                  - Fn::Sub: :${ElasticsearchPort}
          - Name: AWS_DEFAULT_REGION
            Value:
              Ref: AWS::Region
          - Name: http_proxy
            Value:
              Fn::ImportValue: DefaultProxyURL
          - Name: https_proxy
            Value:
              Fn::ImportValue: DefaultProxyURL
          - Name: no_proxy
            Value:
              Fn::Join:
                - ""
                - - Fn::Sub: 169.254.169.254,${ElasticsearchHostname}.
                  - Fn::ImportValue: DefaultVpcDomain
          - Name: CLEAR_PROXY
            Value: "true"
  IntakeApiServiceLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: ${AWS::StackName}/ecs/IntakeApiService/intake-api
      RetentionInDays:
        Ref: LogRetention
  IntakeApiNginxLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: ${AWS::StackName}/ecs/IntakeApiService/nginx
      RetentionInDays:
        Ref: LogRetention
  IntakeApiAdhocLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: ${AWS::StackName}/ecs/IntakeApiService/adhoc
      RetentionInDays:
        Ref: LogRetention
  IntakeApiService:
    Type: AWS::ECS::Service
    DependsOn:
      - ApplicationFrontEnd
      - ApplicationCluster
      - IntakeApiServiceLogGroup
      - IntakeApiNginxLogGroup
      - DbCreateTask
      - DbMigrateTask
      - SearchMigrateTask
      - SearchReindexTask
    Properties:
      Cluster:
        Ref: ApplicationClusterEcsCluster
      TaskDefinition:
        Ref: ApplicationTaskDefinition
      DesiredCount:
        Ref: ApplicationDesiredCount
      DeploymentConfiguration:
          MinimumHealthyPercent:
            Fn::If:
              - ApplicationSingleInstanceCondition
              - 0
              - 50
          MaximumPercent: 200
      LoadBalancers:
        - ContainerName: nginx
          ContainerPort:
            Ref: ApplicationPort
          TargetGroupArn:
            Fn::Sub: ${ApplicationFrontEnd.TargetGroup}
      Role:
        Ref: EcsServiceRole

  # Elasticsearch ECS resources
  ElasticsearchTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      NetworkMode: host
      Volumes:
        - Name: esdata
          Host: 
            SourcePath: /ecs/esdata
      ContainerDefinitions:
      - Name: elasticsearch
        Image:
          Fn::Sub: ${ElasticsearchDockerImage}:${ElasticsearchDockerImageTag}
        MemoryReservation: 500
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: 
              Fn::Sub: ${AWS::StackName}/ecs/ElasticsearchService/elasticsearch
            awslogs-region:
              Ref: AWS::Region
            awslogs-stream-prefix: docker
        PortMappings:
        - ContainerPort:
            Ref: ElasticsearchPort
          Protocol: tcp
        MountPoints:
          - SourceVolume: esdata
            ContainerPath: /var/lib/elasticsearch/data
  ElasticsearchServiceLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: ${AWS::StackName}/ecs/ElasticsearchService/elasticsearch
      RetentionInDays:
        Ref: LogRetention
  ElasticsearchService:
    Type: AWS::ECS::Service
    DependsOn:
      - ElasticsearchFrontEndHttpListener
      - ElasticsearchClusterAutoscalingGroup
      - ElasticsearchServiceLogGroup
    Properties:
      Cluster:
        Ref: ElasticsearchClusterEcsCluster
      TaskDefinition:
        Ref: ElasticsearchTaskDefinition
      DesiredCount:
        Ref: ElasticsearchDesiredCount
      DeploymentConfiguration:
          MinimumHealthyPercent:
            Fn::If:
              - ElasticsearchSingleInstanceCondition
              - 0
              - 50
          MaximumPercent: 200
      LoadBalancers:
        - ContainerName: elasticsearch
          ContainerPort:
            Ref: ElasticsearchPort
          TargetGroupArn:
            Fn::Sub: ${ElasticsearchFrontEnd.TargetGroup}
      Role:
        Ref: EcsServiceRole

  # ECS Tasks
  DbCreateTask:
    Type: Custom::ECSTask
    DependsOn:
      - ApplicationCluster
      - ApplicationDatabase
    Properties:
      ServiceToken:
        Fn::Sub: ${ApplicationCluster.EcsTaskRunner.Arn}
      Cluster:
        Ref: ApplicationClusterEcsCluster
      TaskDefinition:
        Ref: AdhocTaskDefinition
      Count: 1
      Overrides:
        containerOverrides:
          - name: intake-api
            command:
              - bundle
              - exec
              - rake
              - db:create
  DbMigrateTask:
    Type: Custom::ECSTask
    DependsOn:
      - DbCreateTask
    Properties:
      ServiceToken:
        Fn::Sub: ${ApplicationCluster.EcsTaskRunner.Arn}
      Cluster:
        Ref: ApplicationClusterEcsCluster
      TaskDefinition:
        Ref: AdhocTaskDefinition
      Count: 1
      Overrides:
        containerOverrides:
          - name: intake-api
            command:
              - bundle
              - exec
              - rake
              - db:migrate
  SearchMigrateTask:
    Type: Custom::ECSTask
    DependsOn:
      - DbMigrateTask
      - ElasticsearchService
    Properties:
      ServiceToken:
        Fn::Sub: ${ApplicationCluster.EcsTaskRunner.Arn}
      Cluster:
        Ref: ApplicationClusterEcsCluster
      TaskDefinition:
        Ref: AdhocTaskDefinition
      Count: 1
      Overrides:
        containerOverrides:
          - name: intake-api
            command:
              - bundle
              - exec
              - rake
              - search:migrate
  SearchReindexTask:
    Type: Custom::ECSTask
    DependsOn:
      - SearchMigrateTask
    Properties:
      ServiceToken:
        Fn::Sub: ${ApplicationCluster.EcsTaskRunner.Arn}
      Cluster:
        Ref: ApplicationClusterEcsCluster
      TaskDefinition:
        Ref: AdhocTaskDefinition
      Count: 1
      Overrides:
        containerOverrides:
          - name: intake-api
            command:
              - bundle
              - exec
              - rake
              - search:reindex
      RetentionInDays:
        Ref: LogRetention
  
  # IAM role for ECS services
  EcsServiceRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: 
              Service:
                - ecs.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonEC2ContainerServiceRole

  # Secrets custom resource
  DbPasswordDecrypt:
    Type: Custom::KMSDecrypt
    Properties:
      ServiceToken: 
        Fn::Sub: ${CustomResources.KMSDecrypter}
      Ciphertext:
        Ref: DbPassword

  # Custom resources
  CustomResources:
    Type: Stack::Transform
    Template: custom.yml.j2
    Properties:
      Name: CustomResources
      KMSDecrypterVersion:
        Ref: KMSDecrypterVersion